@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
    font-family: 'SBAggro';
    src: url(../fonts/SB-어그로-B.woff);
    font-weight: 700;
}
@font-face {
    font-family: 'SBAggro';
    src: url(../fonts/SB-어그로-M.woff);
    font-weight: 500;
}
@font-face {
    font-family: 'SBAggro';
    src: url(../fonts/SB-어그로-L.woff);
    font-weight: 300;
}


/* base */
*{ 
    padding: 0; margin: 0; box-sizing: border-box;
    font-family: 'Noto Sans KR', "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
    font-size: 16px; color: #333;
}
*::before, *::after{ padding: 0; margin: 0; box-sizing: border-box; }
ul, ol, li{ list-style: none; }
a{ text-decoration: none; }
img{display: block; border: none; }

html, body{ 
    width: 100%; height: 100%;
}
.body_wrap{
    position: relative; top: 0;
    width: 100%; height: 100%;
}
.inner_wrap{width: 1180px; height: 100%; margin: 0 auto;}
.content{width: 100%; padding: 100px 0 0;}
@media screen and (max-width: 1200px){
    .inner_wrap{width: 100%;}
    .content{padding: 100px 16px 0;}
}
@media screen and (max-width: 960px){
    *{ font-size: 14px; }
    .content{padding: 60px 16px 20px;}
}
@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){
    *{ font-size: 12px; }
}



/* header */
.header{ 
    position: fixed; left: 0; top: 0; z-index: 10;
    width: 100%;  height: 100px; border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.header .inner_wrap{display: flex; justify-content: space-between; align-items: center;}
.header h1{width: 140px; height: 40px;}
.header .logo{
    display: block; width: 100%; height: 100%; 
    background-image: url(../images/header_logo.svg); background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -999em;
}
.header .gnb{ display: flex;}
.header .gnb li{margin: 0 10px;}
.header .gnb li a{ display: block; padding: 0 10px; }
.header .gnb li a.active .main_nav{color: #FF9C9C;}
.header .gnb span{font-size: 1rem;}
.header .gnb .number{color: #999;}
.header .gnb .main_nav{text-transform: capitalize;}
.header .marker{
    position: absolute; bottom: 10px; left: 50%;
    width: 0; height: 3px;
    background-color: #FF9C9C;
    transition: 0.3s;
}
.header .panelIcon{display: none; }
@media screen and (max-width: 1200px){
    .header{padding: 0 16px;}
}
@media screen and (max-width: 768px){
    .header{height: 60px;}
    .header .marker{display: none;}
    .header .panelIcon{ 
        display: block;
        position: absolute; top: 20px; right: 16px;
        width: 32px; height: 24px; transition: 0.3s;
    }
    .header .panelIcon span{
        position: absolute; left: 0;
        width: 100%; height: 4px; border-radius: 10px; background-color: #333; transition: 0.3s; 
    }
    .header .panelIcon span:nth-of-type(1){top: 0;}
    .header .panelIcon span:nth-of-type(2){top: 10px;}
    .header .panelIcon span:nth-of-type(3){top: 20px;} 
    .header .panelIcon.active{ transform: rotate(45deg); transition-delay: 0.3s; }
    .header .panelIcon.active span:nth-of-type(2){ transform: scaleX(0); }
    .header .panelIcon.active span:nth-of-type(1){top: 10px; transition-delay: 0.2s; }
    .header .panelIcon.active span:nth-of-type(3){ top: 10px; transform: rotate(90deg); transition-delay: 0.2s; }
    .gnb{
        position: fixed; top: 60px; right: -100%;
        align-items: center; flex-direction: column;
        width: 70%; height: 100%; background-color: #FF9C9C;
        transition: 0.8s;
    }
    .gnb.active{right: 0;}
    .header .gnb li{margin: 50px 0;}
    .gnb br{display: none;}
    .header .gnb span{padding: 0 10px; font-size: 4rem; }
    .header .gnb .number{text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; color: #FF9C9C;}
    .header .gnb .main_nav{text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; color: #FF9C9C;}
    .header .gnb li a.active .number{color: #fff;}
    .header .gnb li a.active .main_nav{color: #fff;}

}
@media screen and (max-width: 480px){
    .header .gnb span{ font-size: 2.5rem;}
}

/* footer */
.footer{
    width: 100%; height: 200px; background-color: #ededed;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}
.footer p{margin-top: 20px;}

@media screen and (max-width: 1200px){
    .footer{padding: 0 16px;}
}
