@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@font-face {
    font-family: 'KorailRoundGothic';
    font-weight: 700;
    src: url(../../fonts/Korail_Round_Gothic_Bold.woff);
}

@font-face {
    font-family: 'KorailRoundGothic';
    font-weight: 500;
    src: url(../../fonts/Korail_Round_Gothic_Medium.woff);
}
@font-face {
    font-family: 'KorailRoundGothic';
    font-weight: 300;
    src: url(../../fonts/Korail_Round_Gothic_Light.woff);
}