@import "../common/var";
@import "../common/mixin";

.review{
    @include sectionPadding();

    h2{
        @include titleH2Effect();
    }
    .swiper{
        padding-bottom: 30px;
        .swiper-slide{
            border: 1px solid #999; border-radius: 10px; padding: 10px;
            a > img{
                width: 100%; object-fit: cover;
            }
            .productWrap{
                display: flex; align-items: center;
    
                img{width: 40px; height: 40px; object-fit: cover;}
                .productData{
                    width: calc(100% - 50px); margin: 10px;
    
                    p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 0.75rem; font-weight: 700;}
                    span{font-size: 0.75rem;}
                    .dataName{color: #999;}
                    .score{padding-right: 10px;}
                }
            }
            .line{width: 100%; height: 2px; background-color: #ededed;}
            .textWrap{
                .star{color: $mainColor;}
                p{
                    margin: 5px 0; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
                }
                .user{
                    color: #999; font-size: 0.875rem;
                }
            }
        }
        .swiper-pagination-bullet{width: 10px; height: 10px; background-color: #ccc; opacity: 1;}
        .swiper-pagination-bullet-active{width: 25px; border-radius: 20px; background-color: $mainColor;}
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
            top: auto; bottom: 0; 
        }
    }
    
}
@media screen and (max-width: 1023px){
    .review{
        @include sectionPadding(100px, 100px);
        h2{
            @include titleH2Effect(30px, 2rem);
        }
    }
}

@media screen and (max-width: 743px){
    .review{
        @include sectionPadding(60px, 60px);
    }
}
